.button {
  display: block;
  padding: 6px 15px;
  border: none;
  border-radius: 6px;

  color: red; 
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
  transition: ease-in 100ms all;
}

.button:hover {
  transition: ease-in 100ms all;
}

.alert {
  background-color: rgba(222, 0, 0, 0.2);
}
  

.button:active {
  background-color: var(--color-highlightHigh);

  transition: ease-in 100ms all;
}

.primary {
  background-color: var(--color-overlay);
}

.secondary {
  background-color: var(--color-overlay);
  color: var(--color-subtle);
}
