.button {
  background: none;
  border: none;
  padding: 8px 9px;
  border-radius: 6px;
  color: white;
  border: 1px solid transparent;
}

.button:hover,
.button.selected {
  background-color: #111;
  color: white;
  border: 1px solid white;
  transition: ease-in 100ms all;
}

.button:active {
  background-color: #111 
}

.button.selected {
  color: white
}

.button svg {
  display: block !important;
}
