.container {
  font-size: 12px;
  line-height: 15px;
  padding: 6px 6px;
  border-radius: 6px;
  border: 1px solid white;

  display: flex;
  background-color: #111;
  color: white;

  align-items: center;
  gap: 6px;
}

.shortcut {
  font-weight: 700;
}

